@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&family=Water+Brush&display=swap');

* {
	box-sizing: border-box;
}
body {
	background-color: gray;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.title-container {
	font-family: 'Lobster';
	display: flex;
	justify-content: center;
	color: aliceblue;
	font-size: 30px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.control-menu {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-around;
	height: 500px;
	width: 240px;
	border: 10px solid rgb(7, 15, 87);
	padding: 20px;
	border-radius: 20px;
	box-shadow: 2px 10px 5px rgba(0, 0, 0, 0.3);
}

.color-picker {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: aliceblue;
}

.color-palette {
	height: 80px;
	width: 80px;
	border: none;
	border-radius: 10%;
}

.rainbow-switch,
.eraser-switch {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: aliceblue;
}

.clear-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.clear {
	background-color: rgb(7, 15, 87);
	color: aliceblue;
	width: 100px;
	height: 30px;
	border-radius: 10px;
}

.canvas {
	display: flex;
	flex-wrap: wrap;
	background-color: antiquewhite;
	width: 640px;
	height: 640px;
	border-radius: 20px;
	border: 20px solid rgb(7, 15, 87);
	box-shadow: 2px 10px 5px rgba(0, 0, 0, 0.3);
}

.grid-size-text {
	display: flex;
	color: aliceblue;
	justify-content: center;
	align-items: center;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.square {
	height: 31px;
	width: 31px;
	background-color: #fff;
	border-top: 1px solid black;
	border-right: 1px solid black;
}
